mat-grid-list {
    width: 920px;
    min-width: 310px;
    max-width: 920px;
    display: inline-block !important;
}

mat-card {
    width: 300px;
    min-width: 300px;
    height: 195px;
    min-height: 195px;
}

.open-box {
    width: 268px;
    min-width: 268px;
    max-width: 268px;
    height: 70px;
    min-height: 70px;
}

.new-box {
    width: 268px;
    min-width: 268px;
    max-width: 268px;
    height: 158px;
    min-height: 158px;
    max-height: 158px;
}