<div class="auth">
    <h1>
        Brief Box
    </h1>
    <div>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput [disabled]="sending||codeSent" (input)="validateInput()" [(ngModel)]="input">
            <button *ngIf="input&&!codeSent" matSuffix mat-icon-button aria-label="Clear" (click)="input='';validateInput()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div *ngIf="inputError">
        <mat-error>Input is invalid.</mat-error>
    </div>
    <div *ngIf="!(codeSent||sending)">
        <button mat-raised-button color="primary" [disabled]="!inputValid" (click)="continueInput()">
            <mat-icon>done</mat-icon>
            Continue
        </button>
    </div>
    <div *ngIf="codeSent">
        <div>
            <mat-form-field>
                <mat-label>Code</mat-label>
                <input matInput placeholder="000000" (input)="validateCode()" [(ngModel)]="code">
                <button *ngIf="code" matSuffix mat-icon-button aria-label="Clear" (click)="code='';validateCode()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div *ngIf="codeError">
            <mat-error>Code is invalid.</mat-error>
        </div>
        <div *ngIf="!sending">
            <button mat-raised-button color="primary" (click)="continueCode()" [disabled]="!codeValid||codeError">
                <mat-icon>done</mat-icon>
                Continue
            </button>
        </div>
        <div *ngIf="!sending">
            <button mat-raised-button (click)="startAgain()">
                <mat-icon>restart_alt</mat-icon>
                Start again
            </button>
        </div>
    </div>
    <div *ngIf="sending">
        <button mat-icon-button disabled="true">
            <mat-spinner diameter="25"></mat-spinner>
        </button>
    </div>
    <div>
        <button mat-raised-button disabled="True">
            <mat-icon>help</mat-icon>
            Help (unavailable)
        </button>
    </div>
</div>