div.auth {
    text-align: center;
    min-width: 300px;
    min-height: 500px;
    margin-top: 15vh;
}

h1 {
    color: rgb(255, 255, 255);
}

mat-form-field, button {
    width: 260px;
}

button {
    margin-bottom: 5px;
}

mat-error {
    margin-top: -15px;
    margin-bottom: 15px;
}
